.face-detect-panel {
	margin-bottom: 12px;
}

.face-detection-ui {
	overflow: hidden;
}

.face-detection-image {
	position: relative;
	overflow: hidden;
	float: left;
	max-width: 100%;
}

.face-detection-image.active {
	cursor: crosshair;
	/*outline: solid 4px #ffe;
	margin: 4px;*/
}

.face-detection-image img {
	max-width: 100%;
	height: auto;
	width: auto;
}

.face-detection-image .hotspot {
	position: absolute;
	max-width: 150px;
	min-width: 10px;
	height: 0;
	/*width: 15%;
	padding-bottom: 15%;
	margin-left: -7.5%;
	margin-top: -7.5%;*/
	border: 0px solid #ccc;
	border: solid 1px rgba(230,230,230,.85);
	background: rgba(255,155,155,.5);
	border-radius: 50%;
	/*-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	-ms-border-radius: 500px;
	border-radius: 500px;*/
}

.hotspot.face {
	background: rgba(155,155,255,.5);
}
.hotspot.normal {
	cursor: pointer;
}

.face-detect-panel .button {
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.status.loading {
	padding-left: 20px;
	background: url(/wp-admin/images/wpspin_light.gif) no-repeat left center;
	background-size: contain;
}

.found-faces img,
.found-faces canvas {
	position: static;
	width: 40px;
	height: auto;
	margin: 10px 10px 0 0;
	display: inline-block;
}

.post-thumbnail-preview {
	background: #f5f5f5;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#fafafa));
	background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fafafa);
	background-image: -moz-linear-gradient(bottom, #f5f5f5, #fafafa);
	background-image: -o-linear-gradient(bottom, #f5f5f5, #fafafa);
	background-image: linear-gradient(to top, #f5f5f5, #fafafa);
	border-color: #dfdfdf;
	overflow: auto;
	margin: 0 0 20px 20px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	font-size: 12px;
	line-height: 0.9;
	max-width: 160px;
	width: 100%;
	box-sizing: border-box;
}

.post-thumbnail-preview .preview-wrap {
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
	background: url(/wp-admin/images/wpspin_light.gif) no-repeat center;
}

.post-thumbnail-preview .preview-wrap img {
	max-width: 100%;
	width: auto;
	max-height: 50px;
	height: auto;
}

.media-modal .compat-field-face_detection .label {
	margin-right: 0;
}

.face-detect-large-hidden,
.face-detect-large-hidden-copy {
	position: absolute;
	left: 9999px;
	top: -9999px;
}
