[submodule "php-facedetection"]
	path = php-facedetection
	url = git://github.com/sanchothefat/php-facedetection.git
[submodule "jquery-facedetection"]
	path = jquery-facedetection
	url = https://github.com/jaysalvat/jquery.facedetection.git
