.face-detect-panel {
    margin-bottom: 15px;
}

.face-detection-ui {
    overflow: hidden;
}

.face-detection-image {
    position: relative;
    overflow: hidden;
    float: left;
    max-width: 100%;
}

.face-detection-image.active {
    cursor: crosshair;
}

.face-detection-image img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    width: auto;
}

.face-detection-image .hotspot {
    position: absolute;
    max-width: 150px;
    min-width: 10px;
    height: 0;
    border: 0px solid #ccc;
    border: solid 1px rgba(230, 230, 230, .85);
    background: rgba(255, 155, 155, .5);
    border-radius: 50%;
}

.hotspot.face {
    background: rgba(155, 155, 255, .5);
}

.hotspot.normal {
    cursor: pointer;
}

.face-detect-panel .button {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.status.loading {
    padding-left: 20px;
    background: url(../img/spin.gif) no-repeat left center;
    background-size: contain;
}

.found-faces img,
.found-faces canvas {
    position: static;
    width: 40px;
    height: auto;
    margin: 10px 10px 0 0;
    display: inline-block;
}

.post-thumbnail-preview {
    background: #f5f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#fafafa));
    background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fafafa);
    background-image: -moz-linear-gradient(bottom, #f5f5f5, #fafafa);
    background-image: -o-linear-gradient(bottom, #f5f5f5, #fafafa);
    background-image: linear-gradient(to top, #f5f5f5, #fafafa);
    overflow: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    font-size: 12px;
    line-height: 0.9;
    width: 100%;
    box-sizing: border-box;
}

.post-thumbnail-preview .preview-wrap {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    background: url(../img/spin.gif) no-repeat center;
}

.post-thumbnail-preview .preview-wrap img {
    max-width: 100%;
    width: auto;
    max-height: 50px;
    height: auto;
}

.media-modal .compat-field-face_detection .label {
    margin-right: 0;
}

.face-detect-large-hidden,
.face-detect-large-hidden-copy {
    position: absolute;
    left: 9999px;
    top: -9999px;
}
